<section id="main" class="wrapper">
				<div class="container">

<header class="major special">
<br><br>
  <h2>Trip.Edit</h2>
</header>

<!-- Form -->
<section>
	<%= render partial: 'form', locals: {trip: @trip}  %>
</section>
