<div class="clearfix container">


<div class="row">
<div class="col-xs-12 content-area" role="main" itemscope="" itemtype="http://schema.org/BlogPosting">
<article id="post-12247" class="clearfix post-12247 post type-post status-publish format-standard has-post-thumbnail" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
<header class="entry-header">
<div class="entry-meta">
<span class="date-bar-white-bg"><span class="vcard author show-author"><span class="fn" itemprop="name"><a href="http://liezljayne.com/author/liezljayne/" title="Posts by Liezl Jayne Strydom" rel="author">Liezl Jayne Strydom</a></span><span class="show-author"> / </span></span><span class="entry-date updated"><time datetime="2017-10" itemprop="datePublished">October 16, 2017</time></span></span>
</div>
<h1 class="entry-title" itemprop="name headline">Healthy Chocolate Cereal Recipe (Healthy Cocoa Pops)</h1>
</header>
<div class="clearfix entry-content" itemprop="description articleBody">
<img src="http://liezljayne.com/wp-content/uploads/2017/10/IMG_9283-1440x960.jpg" data-p3-pin-title="Healthy Chocolate Cereal Recipe (Healthy Cocoa Pops)" data-p3-pin-link="http://liezljayne.com/healthy-chocolate-cereal-recipe-healthy-cocoa-pops/" alt="Healthy Chocolate Cereal Recipe (Healthy Cocoa Pops)" class="aligncenter">
<hr>
<h2 style="text-align: center;">MY HEALTHY CHOCOLATE CEREAL</h2>
<blockquote>
<p style="text-align: center;"><strong>My healthy chocolate cereal recipe</strong></p>
</blockquote>
<p style="text-align: center;">In this post, I’ll be sharing my favorite healthy chocolate cereal recipe with you! This cereal is in between a cocoa pops sort of recipe, and a granola recipe – and let me tell you… it is delicious! I’m so freaking obsessed.</p>


<blockquote>
<p style="text-align: center;"><strong>This healthy chocolate cereal is gluten-free, dairy-free and refined sugar-free.</strong></p>
</blockquote>

<p style="text-align: center;">Liezl Jayne XO</p>


<hr>
<p data-imagelightbox="g"><img class="aligncenter size-full wp-image-12261" src="http://liezljayne.com/wp-content/uploads/2017/10/IMG_9413.jpg" alt="" srcset="http://liezljayne.com/wp-content/uploads/2017/10/IMG_9413.jpg 1500w, http://liezljayne.com/wp-content/uploads/2017/10/IMG_9413-800x533.jpg 800w, http://liezljayne.com/wp-content/uploads/2017/10/IMG_9413-768x512.jpg 768w, http://liezljayne.com/wp-content/uploads/2017/10/IMG_9413-1440x960.jpg 1440w, http://liezljayne.com/wp-content/uploads/2017/10/IMG_9413-610x407.jpg 610w" sizes="(max-width: 1500px) 100vw, 1500px"></p>
<hr>
<h2 style="text-align: center;">THE RECIPE</h2>
<p style="text-align: center;"><strong>Ingredients:</strong></p>
<p style="text-align: center;">-3 cups dry rolled oats<br>
-*1 cup puffed brown rice<br>
-*1 cup puffed quinoa<br>
-**75g dark chocolate (I use 100% unsweetened)<br>
-1/3 to 1/2 cup 100% pure maple syrup (1/3 cup recommended)<br>
-2 Tablespoons melted coconut oil<br>
-1 teaspoon cinnamon (optional)<br>
-1/2 teaspoon pure vanilla extract (optional)<br>
-Pinch sea salt</p>























<hr>




<p><em>Photos by Liezl Jayne Strydom – for liezljayne.com</em></p>
<p></p>


 <meta itemscope="itemscope" itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="http://liezljayne.com/healthy-chocolate-cereal-recipe-healthy-cocoa-pops/" content="http://liezljayne.com/healthy-chocolate-cereal-recipe-healthy-cocoa-pops/">
<span style="display:none" class="vcard author show-author" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
<span class="fn" itemprop="name"><a href="http://liezljayne.com/author/liezljayne/" title="Posts by Liezl Jayne Strydom" rel="author">Liezl Jayne Strydom</a></span>
</span>
<div style="display:none" itemprop="publisher" itemscope="itemscope" itemtype="https://schema.org/Organization">
<div itemprop="logo" itemscope="itemscope" itemtype="https://schema.org/ImageObject">
<img style="display:none" src="https://i.imgur.com/f85XGXL.png">
<meta itemprop="url" content="https://i.imgur.com/f85XGXL.png">
<meta itemprop="width" content="600">
<meta itemprop="height" content="60">
</div>
<meta itemprop="name" content="Liezl Jayne">
</div>
<div style="display:none" itemprop="image" itemscope="itemscope" itemtype="https://schema.org/ImageObject">
<img style="display:none" src="http://liezljayne.com/wp-content/uploads/2017/10/IMG_9283-800x533.jpg">
<meta itemprop="url" content="http://liezljayne.com/wp-content/uploads/2017/10/IMG_9283-800x533.jpg">
<meta itemprop="width" content="800">
<meta itemprop="height" content="533">
</div>
<meta itemprop="datePublished" content="2017-10-16">
<meta itemprop="dateModified" content="2017-10-16">
</div>
<footer class="entry-meta entry-footer">
<div class="addthis_toolbox"><span class="p3_share_title"> </span><a href="https://www.facebook.com/sharer.php?u=http://liezljayne.com/healthy-chocolate-cereal-recipe-healthy-cocoa-pops/" target="_blank" rel="nofollow"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/share?url=http://liezljayne.com/healthy-chocolate-cereal-recipe-healthy-cocoa-pops/&amp;text=Healthy%20Chocolate%20Cereal%20Recipe%20%28Healthy%20Cocoa%20Pops%29&amp;via=liezljayne" target="_blank" rel="nofollow"><i class="fa fa-twitter"></i></a><a href="https://pinterest.com/pin/create/link/?url=http://liezljayne.com/healthy-chocolate-cereal-recipe-healthy-cocoa-pops/&amp;media=http://liezljayne.com/wp-content/uploads/2017/10/IMG_9283.jpg&amp;description=Healthy%20Chocolate%20Cereal%20Recipe%20%28Healthy%20Cocoa%20Pops%29" target="_blank" rel="nofollow"><i class="fa fa-pinterest"></i></a><a href="https://www.tumblr.com/widgets/share/tool?canonicalUrl=http://liezljayne.com/healthy-chocolate-cereal-recipe-healthy-cocoa-pops/&amp;title=Healthy%20Chocolate%20Cereal%20Recipe%20%28Healthy%20Cocoa%20Pops%29" target="_blank" rel="nofollow"><i class="fa fa-tumblr"></i></a><a href="https://plus.google.com/share?url=http://liezljayne.com/healthy-chocolate-cereal-recipe-healthy-cocoa-pops/" target="_blank" rel="nofollow"><i class="fa fa-google-plus"></i></a></div>
</footer>
</article>
<nav id="nav-below" class="clearfix post-navigation">
<div class="nav-previous"><a href="http://liezljayne.com/what-i-eat-in-a-day-get-healthy-with-me/" rel="prev"><span class="meta-nav"><i class="fa fa-chevron-left"></i> Previous Post</span> What I Eat In A Day – Get Healthy With Me!</a></div>
</nav>
<div id="comments" class="comments-area">
<div id="respond" class="comment-respond">
<h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/healthy-chocolate-cereal-recipe-healthy-cocoa-pops/#respond" style="display:none;">Cancel reply</a></small></h3> <form action="http://liezljayne.com/wp-comments-post.php" method="post" id="commentform" class="comment-form">
<p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p><p class="comment-form-comment"><label for="comment">Comment</label> <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" aria-required="true" required="required"></textarea></p><p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" maxlength="245" aria-required="true" required="required"></p>
<p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="text" value="" size="30" maxlength="100" aria-describedby="email-notes" aria-required="true" required="required"></p>
<p class="comment-form-url"><label for="url">Website</label> <input id="url" name="url" type="text" value="" size="30" maxlength="200"></p>
<p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Post Comment"> <input type="hidden" name="comment_post_ID" value="12247" id="comment_post_ID">
<input type="hidden" name="comment_parent" id="comment_parent" value="0">
</p><p style="display: none;"><input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="e43b745ccc"></p><p style="display: none;"></p> <input type="hidden" id="ak_js" name="ak_js" value="1508517533844"></form>
</div>
</div>
</div>
</div>
</div>
