
<section id="main" class="wrapper">
	<div class="container">
		<header class="major special">
			<h2>Trip.(s)</h2>
			<p>Archive</p>
		</header>
		<% @trips.each do |trip| %>
		<h4>Trip.<%= trip.name %></h4>
		<p><em>Category:</em> <%= link_to trip.category_ids, category_path(trip.category_ids) if trip.category_ids %></p>
		<p><em>Creator:</em><%= link_to trip.user.name, user_path(trip.user) %></p>
		<% end %>
		<%= link_to 'New trip', new_trip_path %>
	</div>
</section>
