<!-- Main -->
<br><br>
<section id="main" class="wrapper">
	<div class="container">
		<header class="major special">
			<h2>Trip.(s)</h2>
			<p>Archive</p>
		</header>
		<% @trips.each do |trip| %>
		<h4>Trip.<%= trip.name %></h4>
		<p><em>Category:</em> <%= link_to trip.category.name, category_path(trip.category) if trip.category %></p>
		<p><em>Creator:</em><%= link_to trip.user.name, user_path(trip.user) %></p>
		<% end %>



	</div>
</section>
