<section id="main" class="wrapper">
	<div class="container">
		<header class="major special">
			<p>Trip.s</p>
		</header>
		<table >
			<thead>
				<tr>
					<th>Name</th>
					<th>Creator</th>
					<th>Filed under</th>
				</tr>
			</thead>
			<%= render partial: 'trips', locals: {trips: @trips}  %>
		</table>

		<% if current_user.role == 'planner' || current_user.role == 'admin' %>
			<%= link_to 'Create.me', new_trip_path, class: 'button alt'%>
		<% end %>
	</div>
</section>
