<section id="main" class="wrapper">
	<div class="container">
		<header class="major special">
      <h2>Trip.Me</h2>
			<p>Where are we going?</p>
    </header>
		<!-- Form -->
		<%= render partial: 'form', locals: {trip: @trip}  %>
	</div>
</section>
