<section id="main" class="wrapper">
	<div class="container">
	<br><br>
	<h2> Be a Goer </h2>
		<blockquote>
			You like to do, you like to try, to go, to explore, to be the lead of your movie. <br>
			Our job is to help you find the right director for it.
		</blockquote>
		<%= render partial: 'form', locals: {goer: @goer}  %>
	</div>
</section>
