<tbody>
  <tr>
    <% users.each do |user| %>
    <% if user.role == 'planner' %>
      <td class="close tooltip"><%= link_to user.name.capitalize, user_path(user)%><span class="tooltiptext">Visit ✈</span></td>
      <td><%= user.personality%></td>
      <td><%= user.reason %></td>
      <td><%= user.international %></td>
    <% end %>
  </tr>
</tbody>
<% end %>
