<section id="main" class="wrapper">
  <div class="container">

    <h1> Edit your Profile </h1>
    <h4> It's Ok, time changes things.</h4>
    <%= render partial: 'form', locals: {user: @user}  %>
    <br>
  </div>
</section>
