<section id="main" class="wrapper">
	<div class="container">
  	<br><br>
		<!-- Table -->
		<h4>Planners:</h4>
		<p><%=   %></p>
		<div class="table-wrapper">
			<h4>Members</h4>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Motif</th>
						<th>Budget</th>
            <th>Global</th>
					</tr>
				</thead>
				<%= render partial: 'users', locals: {users: @users}  %>
			</table>
		</div>
	</div>
</section>
