<section id="main" class="wrapper">
	<div class="container">
		<h2> Sign up </h2>
		<blockquote>
			Be a goer; You like to do, you like to try, to go, to explore, to be the lead of your movie. <br>
			Our job is to help you find the right director for it.
		</blockquote>
		<blockquote>
			Or be a Planner; Some people just have it in them, they know what people want,
  		they know how to make them happy, they know what's up<br> and we all know they're well organized.
		</blockquote>
		<%= render partial: 'form', locals: {user: @user}  %>
	</div>
</section>
