<section id="main" class="wrapper">
	<div class="container">
		<h2> Sign up </h2>
		<blockquote>
			You like to do, you like to try, to go, to explore, to be the lead of your movie. <br>
			Our job is to help you find the right director for it.
		</blockquote>
		<%= render partial: 'form', locals: {user: @user}  %>
	</div>
</section>
