<section id="main" class="wrapper">
	<div class="container">
		<div class="row">
      <div class="6u 12u$(xsmall)">
        The romantics : <% @romantics.each do |rom| %>
        <ul>
          <li><%= link_to rom.name, user_path(rom) %></li>
          </ul>
      <% end %>
      </div>

    <div class="6u 12u$(xsmall)">
      <h1>The adventurous:</h1> <% @adventurous.each do |ad| %>
      <ul>
        <li><%= link_to ad.name, user_path(ad) %></li>
        </ul>
      <% end %>
    </div>

    <div class="6u 12u$(xsmall)">
      The intellectuals : <% @intellectuals.each do |int| %>
      <ul>
        <li><%= link_to int.name, user_path(int) %></li>
      </ul>
      <% end %>
    </div>

    </div>
  </div>
</section>
