<section id="main" class="wrapper">
	<div class="container">
  <br><br>
	<!-- Table -->
	<section>
  	<h4>Our Planners</h4>
		<div class="table-wrapper">
			<table>

				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Motif</th>
            <th>Global</th>
					</tr>
				</thead>
				<%= render partial: 'planners', locals: {planners: @planners}  %>

			</table>
		</div>
	</section>
</div>
</section>
