<section id="main" class="wrapper">
	<div class="container">
  <br><br>
	<!-- Table -->
	<section>
  	<h4>Our Planners</h4>
		<div class="table-wrapper">
			<table>

				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Motif</th>
            <th>Scope</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<%= render @planners %>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</div>
</section>
