<section id="main" class="wrapper">
				<div class="container">


  <br><br>
      <h2>Be a Planner</h2>
<blockquote> Some people just have it in them, they know what people want,
  they know how to make them happy, they know what's up<br> and we all know they're well organized.</blockquote>

<%= render partial: 'form', locals: {planner: @planner}  %>

<br>

</div>
</section>
