

   <header id="header" class="alt">
      <h1><strong><a href="index.html">Plan.Me</a></strong></h1>
      <nav id="nav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="generic.html">About</a></li>
          <li><a href="elements.html">Planners</a></li>
          <li><a href="elements.html">Goers</a></li>

        </ul>
      </nav>
    </header>
