<!--
<p> <%= link_to("Goer Sign up", new_goer_path) %></p>
<p> <%= link_to("Planner Sign up", new_planner_path) %></p>
-->


    <!-- Banner -->
    <section id="banner">
      <h2>Plan.Me</h2>
      <p>community for and of travellers. <br> which one are you?</p>
      <ul class="actions">
        <li><a href="#" class="button special big">Get Started</a></li>
      </ul>
    </section>

<!-- One -->
<section id="one" class="wrapper style1">
    <div class="container 75%">
      <div class="row 200%">
        <div class="6u 12u$(medium)">
          <header class="major">
            <h2>Who we Are</h2>
            <p>They are here for you & you're here for them.</p>
          </header>
        </div>
        <div class="6u$ 12u$(medium)">
          <p>
            We are a private community for those who love travelling or those who are experts at it. Our community is made of those who go and those who plan.
            It is also up to you to register as both, but do note that both play a very different role.
          </p>
          <p>Upon registration, new members must choose to be a Goer or a Planner.
            We will store data about our personal profile, what you like, what you are looking for, what you want and we will match you with the yin to your yang.
          The other side of the coin. Your personal planner or your client, the goer. Thus, providing travellers with a tailored humane tool to have a great trip
        and planners with a client for their job.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Two -->

  <section id="two" class="wrapper style2 special">
    <div class="container">
      <header class="major">
        <h2>So, which one are you?</h2>
        <p>The Goer or the Planner</p>
      </header>
      <div class="row 150%">
        <div class="6u 12u$(xsmall)">
          <div class="image fit captioned">
            <img src="https://images.unsplash.com/photo-1494756739853-38af58aa9dd0?w=1502" alt="">
            <h3>I go</h3>
          </div>
        </div>
        <div class="6u$ 12u$(xsmall)">
          <div class="image fit captioned">
            <img src="https://images.unsplash.com/photo-1487284122274-e864e9dec2bf?w=751" alt="">
            <h3>I plan</h3>
          </div>
        </div>
      </div>
      <ul class="actions">
        <li><a href="/goers/new" class="button special big">Register</a></li>
        <li><a href="/planners/new" class="button big">With Us</a></li>
      </ul>
    </div>
  </section>

  <!-- Four -->

  <section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>Contat us</h2>
							<p>For any enquiry, suggestion or comment</p>
						</header>
						<ul class="actions">
							<li><a href="#" class="button special big">Get in touch</a></li>
						</ul>
					</div>
				</section>
