<h1>Plan.IT</h1>
<h3> Register </h3>
<h4> Are you a Goer or a Planner? </h4>

<p> <%= link_to("Goer Sign up", new_goer_path) %></p>
<p> <%= link_to("Planner Sign up", new_planner_path) %></p>

<p>
  Lorem ipsum dolor sit amet, quo sanctus dolores eu, animal indoctum no ius. Ad pro sonet oporteat erroribus. Cu mei legere praesent inciderint. His inermis nominavi ne, ex qui quaeque eruditi. Id delectus verterem ocurreret ius, graeco invidunt no sit. Tollit nusquam suavitate in sea, mel odio nihil patrioque at.

Dicam tempor antiopam ius ea, cu eum agam maiorum instructior. Cum erat possim maiorum cu, sed natum platonem ne. Nemore accumsan scaevola ius id. Mollis electram ius ne, velit labore mandamus his in, esse quas mundi ut vim. Putent civibus disputationi nam cu, vel mazim abhorreant ex. Assum aliquam usu id, eos no aperiri elaboraret, case dissentiet qui et.

Ex affert causae quaeque cum, nisl novum voluptua cum et. Oporteat forensibus qui te, ius meis electram ea. Per quod agam vocibus te, ea vel illud repudiandae. Platonem democritum constituam ne usu, ne vero graece nec. Vel ad labores deleniti theophrastus. Ius ex copiosae splendide dissentias.

Ei verear deseruisse vix. Expetendis conclusionemque mel cu, consul iisque pertinacia id vis, habemus constituto nec id. Te mei alia erant commune, pro eu accusata volutpat, at usu populo integre fastidii. Sit feugiat accommodare ne.

Justo augue nec an, cu sint oblique duo. Aliquid antiopam consulatu vix an. No laudem detracto eos, vide simul aperiam mea et. No quo scaevola gubergren, in pro unum ancillae qualisque. Ut ius tantas iriure atomorum, an est officiis volutpat democritum, sed ad tation abhorreant.
</p>

<p>
  Lorem ipsum dolor sit amet, quo sanctus dolores eu, animal indoctum no ius. Ad pro sonet oporteat erroribus. Cu mei legere praesent inciderint. His inermis nominavi ne, ex qui quaeque eruditi. Id delectus verterem ocurreret ius, graeco invidunt no sit. Tollit nusquam suavitate in sea, mel odio nihil patrioque at.

Dicam tempor antiopam ius ea, cu eum agam maiorum instructior. Cum erat possim maiorum cu, sed natum platonem ne. Nemore accumsan scaevola ius id. Mollis electram ius ne, velit labore mandamus his in, esse quas mundi ut vim. Putent civibus disputationi nam cu, vel mazim abhorreant ex. Assum aliquam usu id, eos no aperiri elaboraret, case dissentiet qui et.

Ex affert causae quaeque cum, nisl novum voluptua cum et. Oporteat forensibus qui te, ius meis electram ea. Per quod agam vocibus te, ea vel illud repudiandae. Platonem democritum constituam ne usu, ne vero graece nec. Vel ad labores deleniti theophrastus. Ius ex copiosae splendide dissentias.

Ei verear deseruisse vix. Expetendis conclusionemque mel cu, consul iisque pertinacia id vis, habemus constituto nec id. Te mei alia erant commune, pro eu accusata volutpat, at usu populo integre fastidii. Sit feugiat accommodare ne.

Justo augue nec an, cu sint oblique duo. Aliquid antiopam consulatu vix an. No laudem detracto eos, vide simul aperiam mea et. No quo scaevola gubergren, in pro unum ancillae qualisque. Ut ius tantas iriure atomorum, an est officiis volutpat democritum, sed ad tation abhorreant.
</p>

<p>
  Lorem ipsum dolor sit amet, quo sanctus dolores eu, animal indoctum no ius. Ad pro sonet oporteat erroribus. Cu mei legere praesent inciderint. His inermis nominavi ne, ex qui quaeque eruditi. Id delectus verterem ocurreret ius, graeco invidunt no sit. Tollit nusquam suavitate in sea, mel odio nihil patrioque at.

Dicam tempor antiopam ius ea, cu eum agam maiorum instructior. Cum erat possim maiorum cu, sed natum platonem ne. Nemore accumsan scaevola ius id. Mollis electram ius ne, velit labore mandamus his in, esse quas mundi ut vim. Putent civibus disputationi nam cu, vel mazim abhorreant ex. Assum aliquam usu id, eos no aperiri elaboraret, case dissentiet qui et.

Ex affert causae quaeque cum, nisl novum voluptua cum et. Oporteat forensibus qui te, ius meis electram ea. Per quod agam vocibus te, ea vel illud repudiandae. Platonem democritum constituam ne usu, ne vero graece nec. Vel ad labores deleniti theophrastus. Ius ex copiosae splendide dissentias.

Ei verear deseruisse vix. Expetendis conclusionemque mel cu, consul iisque pertinacia id vis, habemus constituto nec id. Te mei alia erant commune, pro eu accusata volutpat, at usu populo integre fastidii. Sit feugiat accommodare ne.

Justo augue nec an, cu sint oblique duo. Aliquid antiopam consulatu vix an. No laudem detracto eos, vide simul aperiam mea et. No quo scaevola gubergren, in pro unum ancillae qualisque. Ut ius tantas iriure atomorum, an est officiis volutpat democritum, sed ad tation abhorreant.
</p>
