<h1>Plan.IT</h1>
<h3> Register </h3>
<h4> Are you a <a href="<%= link_to new_goer_path %>">Goer</a> or a <a href="/planner/signup">Planner</a> ? </h4>
<p>Find me in app/views/home/index.html.erb</p>
<p> <%= link_to("Goer Sign up", new_goer_path) %></p>
