<section id="main" class="wrapper">
	<div class="container">
  <br><br>
  <header class="major special">
    <h2>Welcome Abroad</h2>
    <p>What would you like to do today?</p>
  </header>
  <center>

「<%= link_to("Browse Planners", , class: 'button alt') %>」
「<%= link_to("Browse Goers", , class: 'button alt') %>」
</center>

</div>
</section>
