<section id="main" class="wrapper">
	<div class="container">
  <br><br>
	<!-- Table -->
	<h4>Our Goers</h4>
	<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Motif</th>
						<th>Budget</th>
            <th>Scope</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<%= render partial: 'goers', locals: {goers: @goers}  %>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="6u 12u$(xsmall)">
			<h2>Tailor.me</h2>
			<h4> The fun & loving </h4>
			<ul>
				<li><%= Goer.fun_and_loving %></li>
			</ul>
			<h4> The partying party </h4>
			<ul>
				<li><%= Goer.partying %></li>
			</ul>
			<h4> The Tripless </h4>
			<ul>
				<li><%= Goer.recent_with_no_trips %></li>
			</ul>
		</div>


	</div>
</section>
