<section id="main" class="wrapper">
				<div class="container">

<header class="major special">
  <br><br>
      <h2>Draft.Me</h2>
    </header>

<!-- Form -->
<section>
		<h3>Start a Draft</h3>
			<form method="post" action="/drafts">
					<div class="row uniform 50%">
							<div class="6u 12u$(xsmall)">
								<input type="text" name="name" id="name" value="" placeholder="Name this draft">
						</div>
							<div class="6u$ 12u$(xsmall)">
							<input type="text" name="trip_name" id="trip_name" value="" placeholder="The Trip's name">
							</div>

							</div>
							<br>

							<div class="12u$">
							<textarea name="content" id="content" placeholder="Sketch it out" rows="10"></textarea>
							</div>
							<br>
							<div class="12u$">
								<ul class="actions">
									<li><input type="submit" value="Submit" class="special"></li>
									<li><input type="reset" value="Reset"></li>
								</ul>
							</div>
						</div>
					</form>
			</section>
