<!-- Header -->
<header id="header">
        <h1><strong><a href="/">Plan.Me</a></strong></h1>
        <nav id="nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="generic.html">Profile</a></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          </ul>
        </nav>
      </header>
