<!-- Header -->
<header id="header">
        <h1><strong><a href="index.html">Plan.Me</a></strong></h1>
        <nav id="nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="generic.html">Profile</a></li>
            <li>Logout</li>
          </ul>
        </nav>
      </header>
