<!-- Header -->
<header id="header">
  <h1><strong><a href="/">Plan.Me</a></strong></h1>
    <nav id="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><%= link_to "Profile", current_user %></li>
        <% if current_user.role == 'planner' || current_user.role == 'admin'%>
          <li><%= link_to "Plan.it", new_trip_path %></li>
          <% else current_user.role == 'goer' %>
          <li><%= link_to "Browse planners", users_path %></li>
        <% end %>
        <li><%= link_to "Log out", logout_path, method: "delete" %></li>
      </ul>
    </nav>
  </header>
  <br><br>
